@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .players {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-template-rows: repeat(auto-fill, 1fr);
        column-gap: 20px;
    }
}

@layer components {
    svg.circular-progress {
        @apply -rotate-90
    }

    svg.circular-progress circle {
        @apply stroke-base-content fill-none;
        --duration: 1000ms;
        stroke-linecap: round;
        stroke-dasharray: 500 500;
        stroke-dashoffset: 500;
        animation: progress var(--duration) ease-in-out forwards;
    }

    @keyframes progress {
        from {
            stroke-dashoffset: 500;
        }
        to {
            stroke-dashoffset: 0;
        }
    }
}

@layer components {
    .playarea {
        display: grid;
        grid-template-columns: repeat(3, calc(95% / 3));
        justify-content: space-between;
        align-content: space-between;
    }
}